.wrapper-clear{
    position: static;
}

.arrow-down{
    display: none;
}

.inside-search-form{
    height: 30px;
    width: 98.7%;
}

.wrapper-search{
    margin: 290px auto 0px;
}

.page_start .novice img{
    display: none;
}

.page_start #tutorials_list{
    padding-left: 20px;
}

.check-other-link{
    padding-top: 220px;
    top: -6px;
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="./assets/index/check_other.png",sizingMethod='crop');
}

.page_start #tutorials_list ul a{
    background: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="./assets/index/book.png",sizingMethod='crop');
}