body{
	position:relative;
}
.doc{
	display:inline-block;
	width:700px;
}
.page_start .doc{
	width:1000px;
}
.navigation{
	width:260px;
	display:inline-block;
}
.content{
	width:1024px; 
	margin:auto;
}

.body{
	min-height: 780px;
}
td.topics{
	width:300px;
}
.search input{
	line-height: 22px;
}
