.page_start{
    overflow-y: visible;
}

.navigation {  
    float:left;
}
.breadcrumb a{
	padding-right:20px;
	padding-left:20px;
	text-align: center;
	margin-right:5px;
}

.navigation ul li.current, .navigation ul li.current a{
	background: white;
	color:#222;
}
.navigation ul li.current a:first-child{
	background-color:rgb(62, 169, 217);
	color:#fff;
}
.navigation ul li.current ul{
	padding-top:10px;
	padding-left:20px;
}
.top_menu{
	position:absolute;
	top:0px;
    right: 0px;
}
.search input{
	width:95%;
	padding-right:0px;
}

.page_start #tutorials_list ul{
    margin-left: 0px;
}

.page_start .content{
    position: relative;
}

.page_start .search-form-btn{
    padding: 5px 8px;
}

.page_start .body{
    min-height: 455px;
}

.footer .column{
    margin-left: 0px;
    padding-left: 0px;
}

.check-other-link{
    padding-top: 235px;
    top: -24px;
}