/*start screen*/
body{
	height: auto;	
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.page_start .body{
    position: relative;
    z-index: 10;
	background: transparent;
    min-height: 435px;
    background: url("index/bg4.jpg") center -75px no-repeat;
}

.page_start .navigation, .page_start .side_links, .page_start .top_link, .page_start h1{
	display: none;
}

.page_start .footer{
	border-top:none;
}

.body{
	min-height: 467px;
}

/*my added css */
.page_start .slogan{
    font-style: normal;
    padding-top:25px;
    float:left;
    font-size: 16px;
    line-height: 1.875em;
    color: rgb(102, 102, 102);
}
.page_start .slogan #slogan_header{
    color: #404040;
    font-size: 24px;
    padding-bottom: 6px;
    line-height: .91em;
}
.page_start .novice{
    background: #eff2f6;
    background: rgba(255,255,255,0.70);
    border-radius: 6px;
    cursor: pointer;
    width: 410px;
    padding-bottom: 15px;
    float: right;
    margin-left: 25px;
    margin-top: 10px;
    text-align:left;
    color: #272727;
}

.page_start .novice img{
    float:left;
    padding-left:10px;
    padding-top:10px;
}
.page_start .novice #novice_desc{
    color: rgb(64, 64, 64);
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
}
.page_start .novice #novice_header{
    text-align:center;
    line-height: 50px;
    font-size: 26px;
    color:#1F1F22;

}
.page_start  #tutorials_list{
    padding-left:90px;
    padding-right:30px;
    padding-top:10px;
}
.page_start  #tutorials_list ul{
    text-align: left;
    padding-left: 20px;
    margin-bottom: 8px;
}

.page_start  #tutorials_list ul li{
    font-size: 13px;
    line-height: 22px;
    list-style: none;
}
/*the end of my css*/

/*tutorials*/
#tutorial_step{
	text-align:right;
	padding-top:20px;
	padding-bottom:80px;
}
#tutorial_step a#get_started{
	padding:8px 80px;
	background:url('tutorials/common/get_started.png');
	background-repeat:no-repeat;
}
#tutorial_step a#get_started:hover{
	background:url('tutorials/common/get_started_hover.png');
	background-repeat:no-repeat;
}
#tutorial_step a#next_step{
	padding:8px 70px;
	background:url('tutorials/common/next.png');
	background-repeat:no-repeat;
}
#tutorial_step a#next_step:hover{
	background:url('tutorials/common/next_hover.png');
	background-repeat:no-repeat;
}

/* ----------------- */

.footer .content{
    overflow: hidden;
}

.top_menu a{
    text-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

.novice_block{
    position: relative;
    overflow: hidden;
}

.wrapper-clear{
    position: relative;
    overflow: hidden;
}

.page_start  #tutorials_list ul a{
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0px 0px 0px 15px;
    background: url("index/book.png") left 3px no-repeat;
}

.page_start  #tutorials_list ul a:hover,
.view-all-tutorials a:hover{
    text-decoration: underline;
    color: #0f7b8b;
}

.view-all-tutorials a{
    text-decoration: underline;
}

.right-align{
    text-align: right;
}

.view-all-tutorials{
    padding-right: 15px;
}

.wrapper-search{
    margin: 70px auto 0px;
}

.inside-search-form{
    position: relative;
    background: #ededed;
    background: rgba(234,242,246,0.5); 
    border-radius:6px; 
    padding:6px; 
}

.search-field-text{
    width: 86%;
    font-size:15px; 
    padding:6px 8px; 
    border:none;
    margin: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-form-btn{
    position: absolute;
    right: 6px;
    top: 6px;
    width:13%; 
    font-size:15px;
    background:#44a5e1; 
    color:white; 
    border:none; 
    padding: 6px 8px; 
    margin: 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    -webkit-appearance: none;
}

.search-form-btn:hover,
.search-form-btn:active{
    background:#4a96c4;
} 

.search-field-text:focus,
.search-form-btn:focus{
    outline: none;
}

.after-search-p{
    color:white; 
    text-align:center; 
    font-size:16px; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin: 20px 0px 0px;
}

.arrow-down{
    position: relative;
    z-index: 100;
}

.arrow-down div{
    position: absolute;
    left: 50%;
    top: -25px;    
    width: 53px;
    height: 53px;
    margin-left: -26px;
    background: url("index/down-arrow.png") center center no-repeat;
}

/* components links */

.wrapper-components-links{
    position: relative;
    background-color: #f9f9f9; 
    z-index: 15;
}

.inside-components-links{
    position: relative;
    width: 990px;
    margin: 0 auto;
    padding: 60px 0px 55px;
    background-color: #f9f9f9;  
}

.item-component-link{
    display: inline-block;
    color: #333333;
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 73px;
    vertical-align: top;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 15px 0px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
}

.item-component-link:hover{
    background-color: #eef2fa;
    border: 1px solid #bcd1fe;
    border-radius: 2px;
}

.item-component-link span{
    display: block;
    margin-top: 5px;
}

.item-component-link img{
    border: none;
}

.check-other-link{
    position: absolute;
    right: 0px;
    top: -6px;
    display: block;
    width: 186px;
    height: 0px;
    padding-top: 216px;
    overflow: hidden;
    background: url("index/check_other.png") center center no-repeat;
}

/* responsive */

@media  (max-width: 1015px) {
    .inside-components-links{
        text-align: center;
    }
    
    .item-component-link{
        margin: 0px 0px;
    }
    
    .check-other-link{
        position: relative;
        right: 0px;
        top: 0px;
        display: block;
        background-image: none;
        background-color: #ebf3f7;
        width: auto;
        height: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 13px;
        color: #0074ae;
        font-size: 28px;
        border-top: 1px solid #dfe7ea;
    }
    
    .inside-components-links{
        width: auto;
        padding: 30px 0px 0px;
    }
}

@media  (max-width: 965px) {
    .page_start .slogan{
        float: none;
        text-align: center;
        float: none;  
        padding-top: 10px;      
    }
    
    .after-search-p{
        margin: 20px 0px 20px;
    }
    
    .page_start .slogan #slogan_header {
        font-size: 1.4em;
        line-height: .7em;
    }
    
    .page_start .novice{
        float: none;
        width: 485px;
        margin: 20px auto 0px;
    }
    
    .page_start #tutorials_list{
        padding-left: 100px;
    }
    
    .wrapper-search {
        margin: 20px auto 0px;
    }
    
    .footer{
        padding-bottom: 15px;
    }
    
    .footer .content{
        text-align: center;
    }
    
    .footer .column{
        float: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
        padding: 10px 0px 15px;
    }
}

@media  (max-width: 680px) {
    .page_start .header{
        line-height: 30px;
    }
    .page_start .header .content{
        text-align: center;
    }
    
    .page_start .top_logo{
        position: absolute;
        left: 15px;
        top: 15px;
    }
    
    .page_start .top_menu{
        overflow: hidden;
        float: none;
        text-align: center;
        padding-right: 0px;
    }   
    
    .top_menu a{
        float: none;
        display: inline-block;
    }
    
    .page_start .slogan{
        font-size: 1em;
    }
    
    .page_start .slogan #slogan_header {
        font-size: 1.6em;
        line-height: .1em;
        padding-bottom: 10px;
    }
    
    .page_start .novice #novice_header {
        line-height: 30px;
        font-size: 22px;
    }
    
    .page_start .novice #novice_desc{
        font-size: 14px;
    }
    
    .page_start .novice img{
        display: none;
    }
    
    .page_start #tutorials_list{
        padding-left: 0px;
    }
    
    .page_start .novice{
        width: 400px;
        padding: 10px 10px;
    }
    
    .wrapper-search {
        margin: 25px auto 0px;
    }
    
    .search-form-btn{
        width: 105px;
    }
    
    .item-component-link {
        width: auto;
        height: auto;
        margin: 0px 15px;
        padding: 15px;
    }
    
    .arrow-down div{
        width: 34px;
        height: 34px;
        top: -20px;
        margin-left: -17px;
        background-size: 100%;
    }
    
    .inside-components-links {
        padding: 15px 0px 0px;
    }

    .check-other-link{
        margin-top: 10px;
    }
    
    .footer{
        padding-bottom: 15px;
    }
    
    .footer .group {
        font-size: 18px;
    }
    
    .page_start #tutorials_list ul li{
        margin-bottom: 10px;
    }
    
    .page_start #tutorials_list ul a{
        background: none;
        padding-left: 0px;
    }
    
    .right-align.view-all-tutorials{
        text-align: center;
        padding-right: 0px;
        font-size: 18px;
    }
}

@media  (max-width: 640px) {
    .page_start .top_menu{
        display: block;
    }  
}

@media  (max-width: 500px) {
    .page_start .top_menu{
        padding-left: 85px;
    }
    
    .page_start .top_menu {
        margin-top: 20px;
        margin-left: -85px;
    }
    
    .page_start .slogan{
        display: none;
    }
    
    .page_start .novice {
        width: 90%;
        margin: 5px auto 0px;
    }
    
    #novice_desc{
        padding-left: 10px;
    }
    
    .search-form-btn {
        width: 80px;
    }
    
    .wrapper-search {
        margin: 25px auto 0px;
    }
    
    .check-other-link {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
    }
    
    .item-component-link img{
        width: 30px;
    }
    
    .page_start .body{
        min-height: 390px;
    }
}

@media  (max-width: 330px) {
    .page_start .header{
        font-size: 22px;
    }
    
    .page_start .novice #novice_header{
        font-size: 20px;
    }
    
    #novice_desc{
        text-align: center;
    }
    
    .page_start #tutorials_list{
        padding-right: 0px;
    }
    
    #novice_desc,
    .page_start #tutorials_list ul{
        padding-left: 0px;
    }
    
    .footer .group {
        padding-bottom: 5px;
    }
    
    .footer li {
        padding-bottom: 8px;
    }
}

/* ====== */

.item-tutorial{
    position: relative;    
    overflow: hidden;
}

.left-item-tutorial{
    float: left; 
    height: 155px; 
    padding: 5px 10px 5px 10px;
}

.right-part-tutorial{
    margin-left:255px;
    margin-bottom: 30px;
}

.img-to-tutorial{
    display: inline-block;
    line-height: 0px;
}

.img-to-tutorial img{
    padding:2px; 
    border: 1px #C4C4C5 solid;
    display: block;
    box-shadow: #D8D8D8 0px 0px 6px 1px;
}

.link-to-tutorial{
    line-height:26px; 
    font-weight:bold;
}

.top30{
    padding-top: 30px;
}

@media (max-width: 840px) {
    .left-item-tutorial{
        float: none;
        text-align: center;
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -113px;
    }
    
    .right-part-tutorial{
        margin-left: 0px;
    }
    
    .left-item-tutorial img{
        display: inline!important;
    }
    
    .link-to-tutorial {
        display: block;
        text-align: center;
        margin-bottom: 160px;
    }
    
    .top30 {
        padding-top: 0px;
        text-align: center;
    }
    
}

.guide-table tr:nth-child(2n){
    background: inherit;
}


.api-vault-method-23 a::after {
    content: "NEW";
    font-size: 9px;
    font-weight: normal;
    font-family: Tahoma;
    position: absolute;
    margin-top: -5px;
    margin-left: 3px;
    color: #BE2DBD;
}
.toc-vault-method-23 a {
    
}
.api-deprecated, 
.toc-deprecated,
.api-deprecated a, 
.toc-deprecated a,
td.api-deprecated ~ td {
    color: #d0d0d0!important;
}
span.rel_date {
    color: #a0a0a0;
    font-size: 11px;
    margin-left: 20px;
}

/* new icons styles */

.svg{
        display: none;
    }

    .components-container-wrapper{
        overflow: hidden;
    }

    .components-container{
        font-size: 0;
        margin: -5px 0;
    }

    .component-link-elem{
        display: inline-block;
        vertical-align: top;

        margin: 5px 0;
        max-width: 100px;
        min-width: 80px;

        width: 14.285714285714285714285714285714%;
    }

    .component-link{
        position: relative;

        display: block;

        color: #717171;
        text-align: center;

        transition: color 0.15s ease-in-out;
    }

    .component-link:hover{
        color: #1876d2;
    }

    .component-link:before{
        content: "";
        display: block;
        padding-top: 100%;
    }

    .component-link__inside{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .component-link__inside:before,
    .component-link__content{
        display: inline-block;
        vertical-align: middle;
    }

    .component-link__inside:before{
        content: "";
        height: 100%;
    }

    .component-link__icon{
        height: 46px;
    }

    .component-link__icon.line{
        fill: #03a9f4;

        transition: all 0.15s ease-in-out;
    }

    .component-link:hover .component-link__icon.line{
        fill: #1876d2;
    }

    .component-link__name{
        display: block;

        font-size: 14px;
        line-height: 1.42;

        margin-top: 5px;
    }


/* news line */

    .attention-line{
        color: #222;
        font-size: 13px;
        text-align: center;

        padding: 12px 15px 10px;
        background-color: #fcc762;
    }

    .attention-line p{
        line-height: 1.4em;
        margin: 0;
    }

    .attention-line a{
        color: #1f7ab0;
        font-weight: 600;
    }

    .attention-line__link{
        position: relative;
    }

    .more-link-icon{
        position: absolute;
        right: -4px;
        bottom: 9px;

        height: 2px;

        transition: transform 0.15s ease-in-out;
    }

    .more-link-icon:before,
    .more-link-icon:after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;

        width: 6px;
        height: 2px;

        background-color: #1f7ab0;

        -webkit-transform-origin: right center;
        transform-origin: right center;
    }

    .more-link-icon:before{
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .more-link-icon:after{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .attention-line__link:hover .more-link-icon{
        transform: translateX(2px);
    }
