		.webix_view.previewArea, .webix_view.previewArea .webix_spacer{
			background: #3498db;
		}
		.webix_menu-x, .webix_menu-x .webix_list_item{
			box-shadow: none;
			border-color:transparent;
		}

		.webix_accordionitem_header.collapsed{
			letter-spacing: 1px;
		}
		.webix_view{
			border: 0px solid #FDFEFF;
		}
		.webix_header>div{
			line-height: 38px;
		}
		.webix_list_item, .webix_window{
			background: white;
			border-color: #ccc;
		}
		.webix_list_item.webix_selected{
			background: #7b77a9 !important;
			border-color: #7b77a9 !important;
			color:white;
		}
		.webix_el_button input{
			border:none;
			box-shadow: none;

			border-bottom: 2px solid #625E93; /*#16a085;*/
			border-radius: 3px;
			color: #fff !important;
			outline:none;

			background: #7b77a9; /*#1abc9c;*/
		}
		.webix_el_button input:hover{
			background: #938FB8;

		}
		.webix_el_button input:active{
			background: #7b77a9; border-bottom: 2px solid #7b77a9;
		}

		input.webixtype_form{
			/*background: #9b59b6;*/
			background: #309850;
			border-bottom: 2px solid #23703A; /*#8e44ad;*/
		}
		input.webixtype_form:hover{
			background: #37B05B;
		}
		input.webixtype_form:active{
			background: #309850; border-bottom: 2px solid #309850;
		}

		p.speech.hidden, p.topspeech.hidden{
			opacity: 0;
		}
		p.speech, p.topspeech, p.bubble
		{
			position: absolute; z-index:100;
			transition: opacity 0.5s ease-out;
			opacity: 1;

			width: 200px;
			height: 100px;
			text-align: center;
			line-height: 100px;
			background-color: #fff;
			border: 8px solid #3498db;
			border-radius: 15px;
			box-shadow: 2px 2px 4px #888;

		}
		p.speech:before
		{
			content: ' ';
			position: absolute;
			width: 0;
			height: 0;
			left: 30px;
			top: 100px;
			border: 25px solid;
			border-color: #3498db transparent transparent #3498db;
		}
		p.speech:after
		{
			content: ' ';
			position: absolute;
			width: 0;
			height: 0;
			left: 38px;
			top: 100px;
			border: 15px solid;
			border-color: #fff transparent transparent #fff;
		}
		p.topspeech:before
		{
			content: ' ';
			position: absolute;
			width: 0;
			height: 0;
			left: 90px;
			top: -50px;
			border: 25px solid;
			border-color: transparent #3498db #3498db transparent;
		}
		p.topspeech:after
		{
			content: ' ';
			position: absolute;
			width: 0;
			height: 0;
			left: 102px;
			top: -30px;
			border: 15px solid;
			border-color: transparent #fff  #fff transparent;
		}


		.wbx_sharing .webix_template{ padding:0px; }
		.twitterBtn, .googleBtn, .facebookBtn{
			cursor: pointer;
			text-align: center;
			vertical-align: middle;
			-webkit-appearance: none;
			text-decoration: none;
			color:white;

			display: inline-block;
			font-size: 14px;
			padding: 5px 17px;
			font-weight: normal;
			background-color: #0088cc;
			border: 2px solid #0088cc;
			border-radius: 2px;
			margin-right: 4px;
			margin-left: 4px;
		}
		.twitterBtn{
			background-color: #41b7d8;
			border-color: #41b7d8;
		}
		.twitterBtn:hover{
			background-color: #238caa;
			border-color: #238caa;
		}
		.facebookBtn{
			background-color: #3b5997;
			border-color: #3b5997;
		}
		.facebookBtn:hover{
			background-color: #263960;
			border-color: #263960;
		}
		.googleBtn {
			background-color: #d64937;
			border-color: #d64937;
		}
		.googleBtn:hover{
			background-color: #a02f21;
			border-color: #a02f21;
		}